.montageNew {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url('https://diffusion-ml.s3.ap-northeast-2.amazonaws.com/5.png');
  background-size: cover;
  background-position: center; 
  border: 2px solid #DBE2EF;
  border-radius: 12px;
  opacity: 0.4;
}